{% extends 'base.html' %}

{% block meta %}
<!--<meta http-equiv="refresh" content="20" >-->
{% endblock %}

{% block header %}
  <h1>{% block title %}Requests{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('request.request_page') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    <div class="w3-content" style="max-width: 500px">
    <div class="w3-ul">
  {% for request in requests %}

    <li class="w3-card-2">
    <div class="w3-cell-row">
    <div  class="w3-cell">
          <h4>{{ request['position'] }} @ {{ request['start_time'].strftime('%d-%m-%Y %H:%M') }}</h4>
          <div>created on {{ request['created'].strftime('%d-%m-%Y') }}</div>
    </div>

    <a class="w3-button w3-cell w3-cell-middle" href="{{ url_for('request.update', id=request['id']) }}">Cancel</a>

    </div>
      </li>
  {% endfor %}
    </div>
    </div>
{% endblock %}