{% extends 'base.html' %}

{% block header %}
  <h1>Search For Slot <div class="w3-right"><a href="{{ url_for('request.index') }}"><i class="fa-solid fa-circle-arrow-left"></i></a></div></h1>
{% endblock %}

{% block content %}
    <script>
    let my_bldgs = {{ buildings|tojson|safe }};

    function createOption(ddl, text, value) {
        let opt = document.createElement('option');
        opt.value = value;
        opt.text = text;
        ddl.options.add(opt);
    }

    function createOptions(optionsArray, ddl) {
        for (let i = 0; i < optionsArray.length; i++) {
            createOption(ddl, optionsArray[i], optionsArray[i]);
        }
    }

    function fill_buildings(site_select) {
        let bldg_select = document.getElementById('bldg');
        bldg_select.options.length = 0;
        createOption(bldg_select, "Any", "-1");
        let bldg_vals = my_bldgs[site_select.value];
        createOptions(bldg_vals, bldg_select);
    }

    </script>
  <form method="post" class="w3-card-4">
    <label for="site">Site</label>
    <select class="w3-input" name="site" id="site" onchange="fill_buildings(this)">
        <option selected="selected" value="-1">Any</option>
        {% for site in sites %}
        <option value="{{ site['id'] }}">{{ site['name'] }}</option>
        {% endfor %}
    </select>
  <label for="bldg">Building</label>
  <select class="w3-input" name="bldg" id="bldg">
        <option selected="selected" value="-1">Any</option>
        {% for site in buildings %}
            {%  if site != -1 %}
            {% for bldg in buildings[site] %}
                <option value="{{ bldg }}">{{ bldg }}</option>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </select>
    <label for="duration">Duration</label>
    <select class="w3-input" name="duration" id="duration">
        {% for duration in durations %}
        <option {% if loop.first %} selected="selected" {% endif %} value="{{ duration['id'] }}">{{ duration['name'] }}</option>
        {% endfor %}
    </select>
    <label for="start_date"></label>
    <input class="w3-input" type="datetime-local" name="start_date" id="start_date" value="{{ now(False) }}" min="{{ now(False) }}"></input>
    <input class="w3-input w3-button" type="submit" value="Search">
  </form>
{% endblock %}