{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Request{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="w3-container w3-card-4">
    <label for="duration">Duration</label>
    <select class="w3-input" name="duration" id="duration">
        {% for duration in durations %}
        <option {% if loop.first %} selected="selected" {% endif %} value="{{ duration['id'] }}">{{ duration['name'] }}</option>
        {% endfor %}
    </select>
    <label for="start_date"></label>
    <input class="w3-input" type="datetime-local" name="start_date" id="start_date" value="{{ now(False) }}" min="{{ now(False) }}"></input>
    <input class="w3-input" type="submit" value="Search">
  </form>
{% endblock %}