{% extends 'base.html' %}

{% block header %}
  <h1>Search For Slot <div class="w3-right"><a href="{{ url_for('request.index') }}"><i class="fa-solid fa-circle-arrow-left"></i></a></div></h1>
{% endblock %}

{% block content %}
  <form method="post" class="w3-card-4">
    <label for="duration">Duration</label>
    <select class="w3-input" name="duration" id="duration">
        {% for duration in durations %}
        <option {% if loop.first %} selected="selected" {% endif %} value="{{ duration['id'] }}">{{ duration['name'] }}</option>
        {% endfor %}
    </select>
    <label for="start_date"></label>
    <input class="w3-input" type="datetime-local" name="start_date" id="start_date" value="{{ now(False) }}" min="{{ now(False) }}"></input>
    <input class="w3-input w3-button" type="submit" value="Search">
  </form>
{% endblock %}