{% extends 'base.html' %}

{% block script %}
    function create_request(start, stations, duration, cost)
    {
        window.open("create?start_time=" + start + "&stations=" + stations + "&duration=" + duration + "&cost=" + cost, "_self")
    }
{% endblock %}

{% block header %}
  <h1>Available Slots <div class="w3-right"><a href="{{ url_for('request.request_page') }}"><i class="fa-solid fa-circle-arrow-left"></i></a></div></h1>
{% endblock %}

{% block back %}

{% endblock %}


{% block content %}
    <div class="w3-center w3-xlarge">
  {% for slot, stations in slots.items() %}
      {% for station in stations %}
      <div class="w3-panel w3-cell-row
           {% if has_budget %}
           w3-card-2 w3-button" onclick="create_request('{{ slot }}', '{{ station }}', '{{ duration }}', '{{ cost }}')"
           {% else %}
            w3-card w3-light-gray"
              {% endif %}
      >
          <div class="w3-cell w3-cell-middle w3-panel"><i class="fa-solid fa-calendar"></i><br/>{{ slot.strftime('%d-%m-%Y') }} {{ slot.strftime('%H:%M') }}</div>
          <div class="w3-cell w3-cell-middle w3-blue-gray w3-panel"><i class="fa-solid fa-square-parking"></i><br/>{{ station_names[station] }}</div>
          <div class="w3-cell w3-cell-middle w3-blue w3-panel
{% if has_budget==false %}
w3-text-red
{% endif %}
"><i class="fa-solid fa-plug-circle-bolt"></i><br/>{{ cost }}</div>
      </div>
          {% endfor %}
  {% endfor %}
    </div>
{% endblock %}