{% extends 'base.html' %}

{% block meta %}
<!--<meta http-equiv="refresh" content="20" >-->
    <style>
    #qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  height: 280px;
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}
    </style>
{% endblock %}

{% block header %}
  <h1 class="w3-center">{% block title %}Verify Stop @ {{ station_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="w3-content w3-card-4 w3-pale-green w3-center" style="height: 300px; margin-top: 10px">
    <canvas id="qr-canvas" class="w3-panel"></canvas>
        <div id="qr-result" hidden="">
            <b>Data:</b> <span id="outputData"></span>
        </div>
    </div>

    <div class="w3-center" style="height: 5vh;">
    <a id="btn-scan-qr" class="w3-button w3-blue w3-circle w3-center w3-xxxlarge w3-card-2"
       style="height: 205px;
       width: 205px;
       border: darkturquoise;
       border-style: double;
       border-width: 10px;
       margin: -35px;
        line-height: 150px"
       >Verify</a>
    </div>

    <script  src="{{ url_for('static', filename='qr_packed.js') }}"></script>
    <script  src="{{ url_for('static', filename='qr_reader.js') }}"></script>

{% endblock %}
