<!doctype html>
<title>{% block title %}{% endblock %} - EV System</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css"> -->
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blue_theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.css') }}">
{% block meta %}{% endblock %}

<script>
    {% block script %}{% endblock %}
</script>

<div class="w3-top" style="min-width: 470px;">
<div class="w3-topbar w3-mobile">
<div class="w3-container w3-card w3-theme w3-mobile">
    <div class="w3-cell-row">
        <div class="w3-cell w3-cell-middle" style="width: 20%">
        <img src="{{ url_for('static', filename='intel_logo.png') }}" class="w3-image" style="max-height: 40px"/></div>
        <div class="w3-cell w3-cell-middle w3-padding w3-xlarge" style="font-family: 'Segoe UI', Ariel, sans-serif;">EV System v0.1</div>
    </div>
</div>
</div>

<nav class="w3-bar w3-theme-d1 w3-mobile">
    {% if g.user %}
      <a href="{{ url_for('request.index') }}" class="w3-bar-item w3-button"><i class="fa-solid fa-home"></i> {{ g.user['username'] }} </a>
        <div class="w3-bar-item w3-theme-l1"><i class="fa-solid fa-plug-circle-bolt"></i> {{ g.user['current_credits'] }}</div>
      <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button w3-right"><i class="fa-solid fa-right-from-bracket"></i></a>
    {% else %}
      <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button w3-right">Register</a>
      <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-right">Log In</a>
    {% endif %}
</nav>

<header class="w3-container w3-card w3-theme w3-mobile">
    {% block header %}{% endblock %}
</header>
</div>

<div class="" style="margin-top: 170px; margin-bottom: 20px; min-width: 470px;">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div style="z-index: 5; position: fixed; opacity: 85%">
{% for category, message in messages %}
<div class="w3-cell-row w3-round-medium w3-panel
{% if category == 'error' %}
w3-red
{% elif category == 'warning' %}
w3-yellow
{% else %}
w3-blue
{% endif %}
" style="width: 60%; margin-left: 16px">
<div class="w3-cell-middle w3-cell w3-container">{{ category }} : {{ message }}</div>
    <div onclick="this.parentElement.style.display='none'"
class="w3-button w3-cell w3-cell-middle w3-large w3-container">&times;</div>
</div>
{% endfor %}
    </div>
{% endif %}
{% endwith %}

<div class="w3-container w3-panel">
{% block content %}
{% endblock %}
</div>

</div>

<footer class="w3-container w3-theme w3-card w3-bottom w3-mobile">
    Intel EV System v0.1
    {% block footer %}
    {% endblock %}
</footer>
