<!doctype html>
<title>{% block title %}{% endblock %} - EV System</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css"> -->
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blue_theme.css') }}">
{% block meta %}{% endblock %}

<script>
    {% block script %}{% endblock %}
</script>

<div class="w3-container w3-card w3-theme w3-mobile">
    <div class="w3-cell-row">
        <div class="w3-cell" style="width: 20%">
        <img src="{{ url_for('static', filename='intel_logo.png') }}" class="w3-image"/></div>
        <div class="w3-cell w3-cell-middle w3-padding"> EV System v0.1</div>
    </div>
</div>

<nav class="w3-bar w3-theme-d1 w3-mobile">
    {% if g.user %}
      <div class="w3-bar-item"> {{ g.user['username'] }} </div>
        <div class="w3-bar-item w3-theme-l1">Credits: {{ g.user['current_credits'] }}</div>
      <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button w3-right">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button w3-right">Register</a>
      <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-right">Log In</a>
    {% endif %}
</nav>

<header class="w3-container w3-card w3-theme w3-mobile">
    {% block header %}{% endblock %}
</header>

{% for message in get_flashed_messages() %}
<div class="w3-panel w3-theme w3-mobile">{{ message }}</div>
{% endfor %}

{% block content %}{% endblock %}

<footer class="w3-container w3-theme w3-card w3-bottom w3-mobile">
    Intel EV System v0.1
    {% block footer %}
    {% endblock %}
</footer>
